* {
  list-style: none;
  border: none;
  font-family: 'Press Start 2P', cursive;
  background-color: #73D4FE;
}

*::selection {
  background-color: #42A5F5;
  color: #fff;
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}